[submodule "ExternalRepos/ojwalch-sleep_classifiers"]
	path = ExternalRepos/ojwalch-sleep_classifiers
	url = https://github.com/ojwalch/sleep_classifiers
[submodule "ExternalRepos/trackthatsleep-snoozr"]
	path = ExternalRepos/trackthatsleep-snoozr
	url = https://github.com/trackthatsleep/snoozr
[submodule "ExternalRepos/Arcascope-circadian"]
	path = ExternalRepos/Arcascope-circadian
	url = https://github.com/Arcascope/circadian
[submodule "ExternalRepos/ojwalch-predicting_dlmo"]
	path = ExternalRepos/ojwalch-predicting_dlmo
	url = https://github.com/ojwalch/predicting_dlmo
[submodule "ExternalRepos/ojwalch-actigraphy-scripts"]
	path = ExternalRepos/ojwalch-actigraphy-scripts
	url = https://github.com/ojwalch/actigraphy-scripts
[submodule "ExternalRepos/SRI-human-sleep-sleep-trackers-performance"]
	path = ExternalRepos/SRI-human-sleep-sleep-trackers-performance
	url = https://github.com/SRI-human-sleep/sleep-trackers-performance
[submodule "ExternalRepos/jamieyap-CountSMART"]
	path = ExternalRepos/jamieyap-CountSMART
	url = https://github.com/jamieyap/CountSMART
[submodule "ExternalRepos/Arcascope-device_calendar"]
	path = ExternalRepos/Arcascope-device_calendar
	url = https://github.com/Arcascope/device_calendar
[submodule "ExternalRepos/Arcascope-screen-scrape"]
	path = ExternalRepos/Arcascope-screen-scrape
	url = https://github.com/Arcascope/screen-scrape
[submodule "ExternalRepos/Stanford-Health-wearipedia"]
	path = ExternalRepos/Stanford-Health-wearipedia
	url = https://github.com/Stanford-Health/wearipedia
[submodule "ExternalRepos/Stanford-STAGES-SleepStagePrediction"]
	path = ExternalRepos/Stanford-STAGES-SleepStagePrediction
	url = https://github.com/Stanford-STAGES/SleepStagePrediction
[submodule "ExternalRepos/sobradob-shinyapp"]
	path = ExternalRepos/sobradob-shinyapp
	url = https://github.com/sobradob/shinyapp
[submodule "ExternalRepos/wadpac-GGIR"]
	path = ExternalRepos/wadpac-GGIR
	url = https://github.com/wadpac/GGIR
