[submodule "ExternalRepos/ojwalch-sleep_classifiers"]
	path = ExternalRepos/ojwalch-sleep_classifiers
	url = https://github.com/ojwalch/sleep_classifiers
[submodule "ExternalRepos/trackthatsleep-snoozr"]
	path = ExternalRepos/trackthatsleep-snoozr
	url = https://github.com/trackthatsleep/snoozr
[submodule "ExternalRepos/Arcascope-circadian"]
	path = ExternalRepos/Arcascope-circadian
	url = https://github.com/Arcascope/circadian
[submodule "ExternalRepos/ojwalch-predicting_dlmo"]
	path = ExternalRepos/ojwalch-predicting_dlmo
	url = https://github.com/ojwalch/predicting_dlmo
[submodule "ExternalRepos/Stanford-STATES-SleepStagePrediction"]
	path = ExternalRepos/Stanford-STATES-SleepStagePrediction
	url = https://github.com/Stanford-STAGES/SleepStagePrediction
